<div>
  <h1 class="mb-4">Transferências agendadas</h1>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th scope="col">Conta destino</th>
      <th scope="col">Valor</th>
      <th scope="col">Taxa</th>
      <th scope="col">Data agendada</th>
      <th scope="col">Data criação</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Otto</td>
      <td>Otto</td>
      <td>Otto</td>
      <td>13/09/2025 18:00</td>
      <td>20/08/2025 20:31</td>
    </tr>
    </tbody>
  </table>
</div>
